*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color: #434E68; 
    height: 100%;   
}

/* overlay */
.overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
}

/* links */
a{
    text-decoration: none;
}
a:visited{
    color: #fffef8;
}

/* clase para ocultar y mostrar */
.ocultar{
    display: none;
}

/* Header */
.header{
    display: flex; 
    align-items: center;
    background-color: #2A2F3A;
    height: 100px;
    justify-content: space-around;
}

header ul{
    position: absolute;
    top: 80px;
    right: 3px;
    z-index: 6;
    width: 22%;
    transition: all 0.5s;
}

header ul.aumentar{
    width: 50%;
}

header ul li{
   background-color:#0E978F ; 
   color:#fffef8;
   font-family: 'Mohave', sans-serif;
   font-weight: 600;
   margin-top: 4px;
   text-align: center;
   padding: 5px;
}

.logo {
    width: 56px;
    height: 50px;
}

.texto-header{
    font-family: 'Monofett';
    color: #fffef8;
    font-size: 6ex;
    font-weight: bolder;
}

.menu {
    width: 35px;
    height: 25px;
}

.menu:hover{
    cursor: pointer;
}


/*Footer*/

.footer{
    height: 150px;
    padding: 20px;
    position: relative;
    bottom: 0px; 
    width: 100%;
    background-color: #2A2F3A;
    display: grid; 
    grid-template-areas: "footer1 footer2 footer3"
                         "flecha-arriba redes redes";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;   

}

.footer1{
    grid-area: footer1;
}

.footer2{
    grid-area: footer2;
}

.footer3{
    grid-area: footer3;
}

.redes{
    grid-area: redes;
}

.flecha-arriba{
    grid-area: flecha-arriba;
    width: 15px;
    height: 15px;
    transform: rotate(270deg);
}

.h2, .h3{
    font-family: 'Mohave', sans-serif;
    color: #fffef8;
    font-size: small;
}

.h2{
    font-weight: 600;
}

.h3{
    font-weight: 400;
}

.icono-redes{
    color: #fffef8;
}
