/* Header */
header .redes{
    display: none;
}

/*Nav*/

.nav{
    background-color: #0e978f;
    height: 30px;
    color: #fffef8;
    font-family: 'Mohave', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.nav + ul{
    text-align: center;
    font-family: 'Mohave', sans-serif;
    color: #fffef8;
    background-color: #0e978f;
}


div.nav + ul li:last-child {
  background-color: #FECA65;
  font-weight: 500;
}

div.nav + ul li:last-child a{
    color: #2A2F3A;
    padding: 0 80px 0;
}


div.nav + ul a:visited{
    color: #fffef8;
}


/*Categorías*/

h3, h4, p {
    font-family: 'Mohave', sans-serif;
    color: #fffef8;
}

h4 {
    font-weight: lighter;
    padding-top: 8px;
}


.categorias{
    padding: 20px 30px 20px;
}

.carrusel{
    display: flex;
    align-items: center;    
    overflow: hidden;
    scroll-behavior:smooth;
    flex-wrap: wrap;
    gap: 15px;
}

.flecha-ant{
    transform: rotate(180deg);
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    left: 5px;
    display: none;
}

.flecha-sig{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    right: 5px;
    display: none;
}

.carrusel li{
    background: #2A2F3A;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 15px;
    height: 200px;
    position: relative;
}

.tag-gratis{
    width: 53px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 20px;
}

.estrella{
    width: 12px;
    height: 12px;
}

.estrellas{
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.precio{
    position: absolute;
    bottom: 20px;
    right: 15px;
}


/* botones*/

.btn-jugar{
    background-color:#77F4ED;
    border-radius: 35px;
    font-weight: 500;
    width: 100px;
    height: 40px;
    font-family: 'Mohave';
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* btn.jugar hover*/

.btn-jugar:hover{
    background-color: #FECA65;
}


@media only screen and (min-width: 1024px) {
   /* carrusel*/

    .carrusel{
        flex-wrap: nowrap;
        gap: 35px;
    }

    ul.carrusel{
        height: 275px;
    }

    ul.carrusel li{
        min-width: 226px;
        height: 254px;
    }
    .img-juego{
        width: 100%;
    }
    .tag-gratis{
        width: 90px;
        height: 30px;
    }

    .carrusel h4{
        font-size: 22px;
    }

    .carrusel p{
        font-size: 20px;
    }

    .estrella{
        height: 20px;
        width: 20px;
    }

    h3{
        font-size: 30px;
    }

    .flecha-ant, .flecha-sig{
        height: 43px;
        width: 43px;
    }

    .flecha-ant{
        left: 25px;
        display: block;
    }

    .flecha-sig{
        right: 25px;
        display: block;
    }

    .categorias{
        padding: 20px 60px 20px; 
    }

    /* cards */

    .btn-card{
        width: 111px;
        height: 42px;
        border-radius: 35px;
        background-color: #77F4ED;
        font-family: 'Mohave', sans-serif;
        font-weight: 500;
        font-size: 25px;
        position: absolute;
        overflow: hidden;
        transition: 0.5s;
        border: none;
    }

    .btn-card::before{
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%,-50%);
        width: 0px;
        height: 0px;
        background: #FECA65;
        border-radius: 50%;
        transition: width 0.5s, height 0.5s;
       }

    .btn-card:hover{
        cursor: pointer; 
    }

    .btn-card:hover::before{
        width: 300px;
        height: 300px;
       }

    .btn-card span{
        z-index: 1;
        position: relative;
       }
   
    .contenedor-btn-card{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: -25px;
    }
   
    /* nav */

    div.nav{
        display: none;
    }
    div.nav + ul{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
    }
    div.nav + ul li{
        min-width: 16%;
        padding: 5px 0 5px;
        transition: 0.5s;
    }

    div.nav + ul li:hover{
        background: #2A2F3A url("../img/pixel3.png");
        transition-delay: 0.5s;
        animation: animate2 0.3s steps(8) forwards;
        background-size: 250px;
        cursor: pointer;
    }

    @keyframes animate2  {
        0%{
          background-position-y: 0;
        }
        100%{
          background-position-y: -670px;
        }
      }


    div.nav + ul li:last-child a:hover{
        color: #fffef8;
    }


    /* redes header */
    header .redes{
        display: block;
    }


    /* menu hamburguesa*/
    header ul{
        width: 10%;
    }

    header ul.aumentar{
        width: 25%;
    }

    header ul li{
        font-size: x-large;
        padding: 8px;
    }

    header ul li:hover{
        cursor: pointer;
        background: #fffef8;
        color: #0e978f;
    }

/* hover menu hamburguesa*/
header ul li.animated-button::after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	transition: all 0.75s ease 0s;
}
header ul li:hover {
	color: #0e978f;
}
header ul li:after {
	height: 450%;
}
header ul li {
	position: relative;
	display: block;
	color: #fff;
	overflow: hidden;
	transition: all 1s ease;
}

header ul li.animated-button {
	z-index: 1;
}
header ul li.animated-button:after {
	background: #fff;;
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
header ul li.animated-button:hover:after {
	opacity: 1;
	height: 800%;
}

/* boton hero hover*/

.btn-hero{
    position: relative;
    background: #FECA65;
    
}
.btn-hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg,#fb0094,#00f,#0f0,
    #ff0,#f00,#fb0094,#00f,#0f0,#ff0,#f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    animation: animate 20s linear infinite;
  }

.btn-hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg,#fb0094,#00f,#0f0,
    #ff0,#f00,#fb0094,#00f,#0f0,#ff0,#f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
    animation: animate 20s linear infinite;
  }

.btn-hero a{
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    color: #fffef8;
    transition: 0.5s;
    z-index: 1;
    color: rgba(255, 255, 255, 0.2);
    background: #FECA65;
  }
    
.btn-hero a:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(210, 147, 21, 0.9);
}


.btn-hero:hover::after,.btn-hero:hover::before{
    opacity: 1;
}

.btn-hero a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
.btn-hero span{
    position: relative;
    bottom: -4px;
}

@keyframes animate{
    0%{
      background-position: 0 0;
    }
    5%{
      background-position: 300% 0;
    }
    100%{
      background-position: 0 0;
    }
   }

    
}
