*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    background-color: #434E68; 
    height: 100%;   
}


/*Header*/

.header{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #2A2F3A;
    height: 100px;
}

.logo {
    width: 56px;
    height: 50px;
}

.texto-header{
    font-family: 'Monofett';
    color: #fffef8;
    font-size: 6ex;
    font-weight: bolder;
}

.menu {
    width: 35px;
    height: 25px;
}


/*Nav*/

.nav{
    background-color: #0e978f;
    height: 30px;
    color: #fffef8;
    font-family: 'Mohave', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Categorías*/

h3, h4, p {
    font-family: 'Mohave', sans-serif;
    color: #fffef8;
}

h4 {
    font-weight: lighter;
    padding-top: 8px;
}


.categorias{
    padding: 20px 30px 20px;
}

.carrusel{
    display: flex;
    gap: 15px; 
    align-items: center;    
    overflow: hidden;
    height: 220px;
}

.flecha-ant{
    transform: rotate(180deg);
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 500;
    left: 5px;
}

.flecha-sig{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 500;
    right: 5px;
}

.carrusel li{
    background: #2A2F3A;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 15px;
    height: 200px;
    position: relative;
}

.tag-gratis{
    width: 53px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 20px;
}

.estrella{
    width: 12px;
    height: 12px;
}

.estrellas{
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.precio{
    position: absolute;
    bottom: 20px;
    right: 15px;
}


/*Footer*/

.footer{
    height: 150px;
    padding: 20px;
    position: relative;
    bottom: 0px; 
    width: 100%;
    background-color: #2A2F3A;
    display: grid; 
    grid-template-areas: "footer1 footer2 footer3"
                         "flecha-arriba footer4 footer4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;   

}

.footer1{
    grid-area: footer1;
}

.footer2{
    grid-area: footer2;
}

.footer3{
    grid-area: footer3;
}

.footer4{
    grid-area: footer4;
}

.flecha-arriba{
    grid-area: flecha-arriba;
    width: 15px;
    height: 15px;
    transform: rotate(270deg);
}

.h2, .h3{
    font-family: 'Mohave', sans-serif;
    color: #fffef8;
    font-size: small;
}

.h2{
    font-weight: 600;
}

.h3{
    font-weight: 400;
}

.icono-redes{
    color: #fffef8;
}

