body{
    background-color: #0E0C0C;
}

/* Breadcrumbs */

div.nav+ul {
    text-align: center;
    font-family: 'Mohave', sans-serif;
    color: #fffef8;
    background-color: #0e978f;
    display: flex;
    font-size: 30px;
}

div.nav+ul li {
    padding: 5px 10px 5px;
}

/* Fondo matrix */

.fondo-matrix {
    background: black;
    height: 600px;
    width: 100%;
    position: absolute;
}

/* Div info */

#texto-matrix{
    width: 805px;
    height: 151px;
}

.info{
    /*background: url(../img/fondomatrix.png);*/
    position: relative;
    width: 100%;
    height: 600px;
}

.info>div{
    font-family: 'Bahiana', cursive;
    font-size: 60px;
    color: #fffef8;
}

.info div:nth-child(1), .info div:nth-child(2), .info div:nth-child(3), .info div:nth-child(4){
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

/* Call to action */

.call-to-action{
    font-family: 'Bahiana', cursive;
    font-size: xx-large;
    color: #fffef8;
    width: 100%;
    height: 220px;
    display: flex; 
    justify-content: center;
    position: relative;
    left: 800px;
}

.call-to-action img {
    width: 232px;
    height: 200px;
    align-self: flex-end;
    margin-right: 20px;
}

.call-to-action div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action p{
    font-size: 50px;
}

.call-to-action button {
    background-color: #85b27e;
    border: solid;
    border-color: black;
    border-radius: 10px;
    height: 60px;
    width: 190px;
    margin-top: 10px;
    font-family: 'Bahiana', cursive;
    font-size: larger;
    cursor: pointer;
}


/* Fondo animado */

.fondo-animado{
    position: relative;
    height: 1000px;
    overflow: hidden;
    opacity: 1;
    transition: all 2s linear;
}

.spanHero{
    position: absolute;
    color: #fffef8;
    top:40%;
    left:40%;
    z-index: 5;
    font-size: xxx-large;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    font-family: 'Bahiana', cursive;
}

.spanHero:last-of-type{
    color: #0E0C0C;
    left:55%;
}

.fondo-animado img:nth-child(1){
    position: absolute; 
    z-index: auto; 
    width: 100%;
    transition: all 3s ease-in-out;
}

.fondo-animado img:nth-child(2){
    position: absolute; 
    z-index: 2; 
    width: 100%;
    transition: all 3s ease-in-out;
    top: -8px;
    animation: volar 2s linear infinite;
    
}

@keyframes volar{
    0%{
        transform:translateX(-45px) scale(0.5)
    }
    25%{
        transform:translateX(30px) scale(0.7)
    }
    50%{
        transform: translateY(-25px) scale(0.9)
    }
    75%{
        transform: translateX(-30px) scale(0.7)
    }
    100%{
        transform: translateX(-45px) scale(0.5)
    }
}

.fondo-animado img:nth-child(3){
    
    position: absolute; 
    z-index: 3; 
    width: 50%;
    left: 24%;
    right: 25%;
    top: 175px;
    animation: luz 1.5s linear infinite;
    transform: scale(0.5);
    transition: all 3s ease-in-out;
}
@keyframes luz{
    0%{
        opacity: 1;
       
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.fondo-animado img:nth-child(4){
    position: absolute; 
    z-index: 4; 
    width: 40%;
    left: 30%;
    right: 30%;
    top: 80px;
    transform: scale(0.01);
    transition: all 3s ease-in-out;
    transition-delay: 0.2s;
}

.fondo-animado img:nth-child(5){
    opacity: 0;
    position: absolute; 
    z-index: 5; 
    width: 100%;
    bottom: 0px;
    transition: all 3s ease-in-out;
    animation: niebla 2s linear infinite
}

@keyframes niebla{
    0%{
        transform:translateX(-15px) scale(1.3)
    }
    25%{
        transform:translateX(5px) scale(1.5)
    }
    50%{
        transform: translateY(-15px) scale(1.5)
    }
    100%{
        transform: translateX(-15px) scale(1.3)
    }

}

/* Formato general personajes, descripción y features */

.seccion{
    padding: 30px 70px 30px;
    font-family: 'Mohave', sans-serif;
    font-size: 25px;
    color: #fffef8;
}

.seccion h3{
    padding-bottom: 40px;
    text-align: center;
}


/* Descripcion */

.descripcion p{
    margin-bottom: 10px;
}

.texto{
  font-family: 'Mohave', sans-serif;
}

/* Personajes */

p.titulo_bajar{
  text-align: center;
}

.personajes{
    display: flex; 
    justify-content: space-between;
}

.personajes img {
    border-radius: 10px;
    margin: 5px;
}

.personaje{
    position: relative;
    width: 423px;
    height: 485px;
}

.personaje img{
    position: absolute;
}

.personaje div{
    position: absolute;
    z-index: 1;
    width: 423px;
    padding: 100px 45px 100px;
}

.personaje div ul li{
    font-size: 30px;
    list-style: inside;
}

.personaje div p{
  font-size: 40px;
  padding: 10px 0px 10px;
  text-align: center;
}

.habilidades p:first-child{
  border-bottom: solid 1px #fffef8;
  margin-bottom: 15px;
}

.blur{
    filter: blur(5px);
}

.titulo_bajar.aparecer{
  transform: translateY(50px);
  opacity: 1;
  transition: 2s all ease;
}

.titulo_bajar.desaparecer{
  transform: translateY(-50px);
  opacity: 0;
  transition: 2s all ease;
}

.titulo_subir.aparecer{
  transform: translateY(-50px);
  opacity: 1;
  transition: 2s all ease;
}

.titulo_subir.desaparecer{
  transform: translateY(50px);
  opacity: 0;
  transition: 2s all ease;
}

/*
Este lo hice para probar como queda con los 3 nombres en un div aparte
.titulo_bajar{
  display:flex;
  justify-content: space-around;
}*/


/* Features */

.features div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 10px 20% 10px; 
    row-gap: 20px;
}

.features div p{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fondo-features.png);
    border-radius: 15px;
    height: 50px;
    width: 180px;
}


/* sprites */
.sprites{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #152036;
    height: 120px;
  }
  
  .sprite{
    background: url(../img/sprite6.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 121px;
    width: 61px;
    animation: walk 2s steps(11) infinite;
    
  }
  
  @keyframes walk  {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: -696px;
    }
  
    
  }
  .sprite2{
    background: url(../img/sprite7.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 103px;
    width: 72px;
    animation: medialuna 1s steps(5) infinite;
    
  }
  
  @keyframes medialuna  {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: -360px;
    }
  
    
  }
  .sprite3{
    background: url(../img/sprite8.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98px;
    width: 58px;
    animation: salto 1s steps(4) infinite;
    
  }
  
  @keyframes salto  {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: -232px;
    }
  
    
  }
  
  .sprite4{
    background: url(../img/sprite10.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 64px;
    animation: pelea 1s steps(9) infinite;
    
  }
  
  @keyframes pelea  {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: -576px;
    }
  }

  /* imagen y texto scroll*/
.contenedorSticky{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .textoScroll{
    width: 50%;
  }
  
  .texto:last-of-type{
    margin-bottom: auto;
    padding: 0;
  }

  .texto:first-of-type{
    padding: 25% 0;
  }
  
  
  
  .stickyScroll{
    position: sticky;
    width: 50%;
    height: 100%;
    top: 30%;
  }
  
  .texto{
    height: 300px;
    color: #fffef8;
    margin: 25px 50px 100px 50px;
    transition: opacity .4s ease-in-out;
    text-align: center;
    font-size: xx-large;
   
  }
  
  .img{
    height: 400px;
    background-color: antiquewhite;
    margin: 25px;
    
  }
  .img:last-of-type{
    margin-bottom: auto;
  }
  
  .oculto{
    opacity: 0;
  }
  
  .imgOculta{
    display: none;
  }
  
  div.img:nth-child(1){
    background: url(../img/machinecity.jpg);
    background-size: cover;
    
  }
  div.img:nth-child(2){
    background:url(../img/mission.jpg);
    background-size: cover;
  }
  div.img:nth-child(3){
    
    background:url(../img/pills2.jpg);
    background-size: cover;
    background-position: -40px;
  }
  div.img:nth-child(4){
   
   background:url(../img/neosmith.jpeg);
    background-size: cover;
    background-position: -80px;
  }